

  h1{
    text-align: center;
    color: chartreuse;
  }
  #sat{
    color: chartreuse;
    font-size: 30px;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: rgb(13, 80, 13);
  }
  
  .igra {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .karta {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .karta:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  .karta:hover {
    transform: scale(1.03);
    transition: transform .2s;
  }
  
  .karta.flip {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: rgb(12, 114, 17);
    backface-visibility: hidden;
  }
  
  .front {
    transform: rotateY(180deg);
  }